<<!DOCTYPE html>
<html>
<head>
    <title>Localities of Different Properties posted by Dealer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="dealer_localities.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        $("#<%= locality.id %>").click(function(){
            window.location= "/dealer_chat_room"
            return false;
        });
    </script>    
</head>
<body>
        <% localities.forEach(function(locality) { %>
            <div class="locality" id="<%= locality.id %>" >
                <%= locality.name %> <span class="badge">%%%%%%%%%%%%Number%%%%%</span>
            </div>
        <% }) %>
</body>
</html>